{
  "rabbitmqUrl": "amqp://myuser:mypassword@server.local",
  "queueName": "image_conversion_jobs",
  "brokenFilesQueueName": "broken_files",
  "imageDir": "/path/to/source/folder",
  "restServerUrl": "http://server.local:3000",
  "uploadRestServerUrl": "http://server.local:3000",
  "ramdiskDir": "/mnt/RAMDisk",
  "cjxlPath": "cjxl",
  "djxlPath": "djxl",
  "extension": "jxl",
  "imageProcessor": "sharp"
}
